* {
  font-family: sans-serif;
  font-size: 1.5rem;
}
body {
  background-color: #181818;
  margin: 0;
  overflow: scroll;
}

#main {
}

svg {
  background-color: #e5e5e5;
}

.sidebar {
  position: fixed;
  top: 55px;
  outline: 1px solid black;
  padding: 25px;
  background-color: #fff;
}

#left-sidebar {
  left: 25px;
  border-radius: 25px;
  width: 80px;
}

#far-right-sidebar {
    right: 25px;
    border-radius: 25px;
}
#close-right-sidebar {
    right: 250px;
    border-radius: 25px;
}

li{
    list-style-type: none;
}

.btn {
    position:relative;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    left: -25px;
}
.btn-horiz {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

#lower-left-sidebar {
    position: fixed;
    top: 750px;
    left: 25px;
    border-radius: 25px;
    width: 80px;
}
