* {
  font-family: sans-serif;
}

body {
  background-color: #181818;
  margin: 0;
  overflow: scroll;
}

#main {
}

svg {
  background-color: #e5e5e5;
}

.sidebar {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 20px;
  outline: 1px solid black;
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  z-index: 1;
}

#left-sidebar, #bottom-left-sidebar {
  flex-direction: column;
  left: 20px;
}

#bottom-left-sidebar {
  top: 490px;
}

#far-right-sidebar {
  right: 20px;
}

#close-right-sidebar {
  right: 210px;
}

#zoom-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 820px;
  right: 20px;
}

#zoom-sidebar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#zoom-in, #zoom-out {
  font-size: 2rem;
  border: none;
  background-color: #fff;
}

#zoom-slider {
  /* Different browsers can affect the appearance.. deciding whether or not to bother changing the appearance */
}

.zoom-btn {
  user-select: none;
}

.zoom-btn:hover {
  cursor: pointer;
}

.btn {
  width: 30px;
  height: 30px;
  padding: 1rem;
  user-select: none;
}

.btn:hover {
  outline: 1px solid black;
}

.btn-selected {
  outline: 1px solid black;
  background-color: lightblue;
}
