* {
  font-family: sans-serif;
  user-select: none;
}

body {
  background-color: #181818;
  margin: 0;
  overflow: hidden;
}

#svg {
  background-color: #e5e5e5;
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebar {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 1rem;
  outline: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  z-index: 1;
}

#left-sidebar,
#bottom-left-sidebar {
  flex-direction: column;
  left: 1rem;
}

#bottom-left-sidebar {
  top: 30rem;
}

#far-right-sidebar {
  right: 1rem;
}

#close-right-sidebar {
  right: 12rem;
}

#zoom-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40rem;
  right: 1rem;
}

#zoom-sidebar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#zoom-in,
#zoom-out {
  font-size: 2rem;
  border: none;
  background-color: #fff;
}

#zoom-slider {
  /* Different browsers can affect the appearance.. deciding whether or not to bother changing the appearance */
}

.zoom-btn:hover {
  cursor: pointer;
}

.btn {
  width: 30px;
  height: 30px;
  padding: 1rem;
}

.btn:hover {
  outline: 1px solid black;
}

.btn-selected {
  outline: 1px solid black;
  background-color: lightblue;
}
